/* Layout */
.layout-root[data-easytag="id1-src/styles/layout.css"] { min-height: 100vh; display: flex; flex-direction: column; }
.layout-main[data-easytag="id2-src/styles/layout.css"] { flex: 1; padding: 16px 0 24px; }
